---
swagger: "2.0"
info:
  description: "This is the socio-environmental-exposures API. It provides American\
    \ CommunitySurvey data for a given lat, lon location"
  version: "1.0.0"
  title: "Socio-Environmental Exposures API"
  contact:
    name: "Lisa Stillwell"
    email: "lisa@renci.org"
  license:
    name: "MIT"
    url: "http://opensource.org/licenses/MIT"
host: "bdt-social.renci.org:8080"
basePath: "/socio_environmental_exposures_api/v1"
schemes:
- "https"
paths:
  /values:
    get:
      summary: "provides ACS values"
      description: "By passing in a location specification (lat, lon), you can retrieve\
        \ the the ACS Values for that location\n"
      operationId: "get_values"
      produces:
      - "application/json"
      parameters:
      - name: "latitude"
        in: "query"
        description: "latitude in decimal degrees format, ie: 32.47"
        required: true
        type: "string"
      - name: "longitude"
        in: "query"
        description: "longitude in decimal degrees format, ie: -86.5"
        required: true
        type: "string"
      responses:
        200:
          description: "OK"
          schema:
            type: "object"
            properties:
              latitude:
                type: "string"
                example: "32.47"
              longitude:
                type: "string"
                example: "-86.5"
              geoid:
                type: "string"
                example: "15000US010010201001"
              EstTotalPop:
                type: "string"
                example: "745"
              EstTotalPop_SE:
                type: "string"
                example: "137.530360284557"
              EstTotalPop25Plus:
                type: "string"
                example: "474"
              EstTotalPop25Plus_SE:
                type: "string"
                example: "76.006249743031"
              EstPropNonHispWhite:
                type: "string"
                example: "0.763758389261745"
              EstPropNonHispWhite_SE:
                type: "string"
                example: "0.105181283383554"
              EstPropPersons25PlusHighSchoolMax:
                type: "string"
                example: "0.531645569620253"
              EstPropPersons25PlusHighSchoolMax_SE:
                type: "string"
                example: "0.0764804287594837"
              EstPropHouseholdsNoAuto:
                type: "string"
                example: "0.0387323943661972"
              EstPropHouseholdsNoAuto_SE:
                type: "string"
                example: "0.039252128205847"
              EstPropPersonsNoHealthIns:
                type: "string"
                example: "0.183892617449664"
              EstPropPersonsNoHealthIns_SE:
                type: "string"
                example: "0.0633283349669971"
              EstPropPersons5PlusNoEnglish:
                type: "string"
                example: "0.0750708215297451"
              EstPropPersons5PlusNoEnglish_SE:
                type: "string"
                example: "0.040387048517137"
              MedianHouseholdIncome:
                type: "string"
                example: "$29744.00"
              MedianHouseholdIncome_SE:
                type: "string"
                example: "20687.8291659613"
        400:
          description: "Invalid parameter"
        404:
          description: "No values found"
        500:
          description: "Server error"
      x-swagger-router-controller: "swagger_server.controllers.default_controller"
definitions:
  inline_response_200:
    properties:
      latitude:
        type: "string"
        example: "32.47"
      longitude:
        type: "string"
        example: "-86.5"
      geoid:
        type: "string"
        example: "15000US010010201001"
      EstTotalPop:
        type: "string"
        example: "745"
      EstTotalPop_SE:
        type: "string"
        example: "137.530360284557"
      EstTotalPop25Plus:
        type: "string"
        example: "474"
      EstTotalPop25Plus_SE:
        type: "string"
        example: "76.006249743031"
      EstPropNonHispWhite:
        type: "string"
        example: "0.763758389261745"
      EstPropNonHispWhite_SE:
        type: "string"
        example: "0.105181283383554"
      EstPropPersons25PlusHighSchoolMax:
        type: "string"
        example: "0.531645569620253"
      EstPropPersons25PlusHighSchoolMax_SE:
        type: "string"
        example: "0.0764804287594837"
      EstPropHouseholdsNoAuto:
        type: "string"
        example: "0.0387323943661972"
      EstPropHouseholdsNoAuto_SE:
        type: "string"
        example: "0.039252128205847"
      EstPropPersonsNoHealthIns:
        type: "string"
        example: "0.183892617449664"
      EstPropPersonsNoHealthIns_SE:
        type: "string"
        example: "0.0633283349669971"
      EstPropPersons5PlusNoEnglish:
        type: "string"
        example: "0.0750708215297451"
      EstPropPersons5PlusNoEnglish_SE:
        type: "string"
        example: "0.040387048517137"
      MedianHouseholdIncome:
        type: "string"
        example: "$29744.00"
      MedianHouseholdIncome_SE:
        type: "string"
        example: "20687.8291659613"
    example:
      EstPropNonHispWhite: "0.763758389261745"
      EstTotalPop: "745"
      EstTotalPop25Plus: "474"
      EstPropPersons25PlusHighSchoolMax_SE: "0.0764804287594837"
      EstPropPersons5PlusNoEnglish_SE: "0.040387048517137"
      latitude: "32.47"
      EstPropHouseholdsNoAuto_SE: "0.039252128205847"
      EstTotalPop25Plus_SE: "76.006249743031"
      MedianHouseholdIncome: "$29744.00"
      EstTotalPop_SE: "137.530360284557"
      EstPropPersonsNoHealthIns: "0.183892617449664"
      geoid: "15000US010010201001"
      EstPropNonHispWhite_SE: "0.105181283383554"
      EstPropHouseholdsNoAuto: "0.0387323943661972"
      MedianHouseholdIncome_SE: "20687.8291659613"
      EstPropPersonsNoHealthIns_SE: "0.0633283349669971"
      EstPropPersons25PlusHighSchoolMax: "0.531645569620253"
      EstPropPersons5PlusNoEnglish: "0.0750708215297451"
      longitude: "-86.5"
parameters:
  search:
    name: "search"
    in: "query"
    description: "search for exposure variables like - default is empty"
    required: false
    type: "string"
  latitude:
    name: "latitude"
    in: "query"
    description: "latitude in decimal degrees format, ie: 32.47"
    required: true
    type: "string"
  longitude:
    name: "longitude"
    in: "query"
    description: "longitude in decimal degrees format, ie: -86.5"
    required: true
    type: "string"
